@import url('https://fonts.googleapis.com/css?family=Muli:400,300');
// @import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


$pink: #ff7fc7;
$lavender: #afa1ff;
$purple:#4e4fa2;
$liberty: #5454fc;
$blue: #7aa6f9;

$text-dark: #363074;
$text-light: #F8F8FF;
$background-light: #F8F8FF; //F1F5F8
$background-dark: #0E1639;//#02265D; //#1D1C56; //#1A153F //000054

.light {
  --color-page: #{$background-light};
  --color-text: #{$text-dark};
  --accent-color: #{darken($blue, 10%)};
  --hair-color: #{$purple};
}

.dark {
  --color-page: #{$background-dark};
  --color-text: #{$text-light};
  --accent-color: #{lighten($liberty, 5%)};
  --hair-color: #{$liberty};
}

.light svg .dark-mode-only, .dark svg .light-mode-only  {
  opacity: 0;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html, body {
  font-size: 18px;
}

body {
  background-color: var(--color-page);
  background-image: var(--gradient-page);
  color: var(--color-text);
  transition: all 0.75s ease;
  * {
    font-family: 'Muli', sans-serif;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 75rem;
  padding: 1.5rem 3rem;
  margin: 0 auto;
}

.divider {
  width:100px;
  height:0.5rem;
  background-color:$pink;
  margin-bottom: 1.5rem;
  border-radius: 2px;
}

h1 {
  font-size: 3.2rem;
  font-family: 'Limelight', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-shadow: 1px 0px 0px var(--accent-color);
}

header {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  line-height:2rem;
  text-align: right;
  svg.svg-inline--fa.fa-w-16 {
    display: block;
    width:1.5rem;
    height:1.5rem;
  };
}

.dark-mode-toggle {
  svg {
    cursor: pointer;
  }
}

.nowrap {
  white-space: nowrap;
}

.hero {
  display: flex;
  flex-shrink: 1;
  position: relative;
  align-items: center;
  justify-content: space-between;
  min-height:calc(100vh - 4.5rem);
}

section.avatar {
  flex:1 0 46%;
  // min-width:520px;
  svg {
    width:100%;
    * {
      transition: opacity 1s ease;
    }
  }
  @for $i from 1 through (40) {
    .particles *:nth-of-type(#{$i}) {
      animation: twinkle 4s infinite cubic-bezier(.17,.67,.83,.67);
      transform-origin: center;
      animation-delay: random(14) + s;
      border: 1px solid black
    }
  }
  .hair {
    fill: var(--hair-color);
    transition: all 0.75s ease;

  }
  .blob {
    animation: blobMorph 50s cubic-bezier(.17,.67,.83,.67) infinite;
  }
  &.mobile {
    display: none;
  }
}

section.intro {
  position: relative;
  margin-right: 2rem;
  .intro-text span:not([class="nowrap"]){
    color: var(--accent-color);
    font-weight: 700;
  }
  p {

    a, a:visited, a:active, a:hover {
      color: var(--accent-color);
      text-decoration: none;
      display: inline-block;
      position: relative;
      color: inherit;
      &:before {
        content:'';
        position: absolute;
        bottom:0;
        left: -5%;
        width: 110%;
        height: 0.5rem;
        z-index: -1;
        background-color: var(--accent-color);
        border-radius: 2px;
        transition: all 0.5s ease;

      }
      &:hover:before {
        height: 100%;
      }
    }
  }

  h2 {
    font-size: 1.6rem;
  }
  p {
    -webkit-text-stroke: 0.3px;
    line-height: 1.5rem;
    font-size: 1.1rem;
  }
}

// social icons
.social-icons {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 320px;
  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-text);
    cursor: pointer;
    path {
      fill: var(--color-text);
      transition: 0.25s;
    }
  }
}

.social-icon {
  position: relative;
  &:hover .social-tooltip{
    visibility: visible;
    transform: translateY(-5px);
    opacity: 1;
  }
  .copied {
    animation: tada 1s ease-in-out;
    path {
      fill: $pink;
    }
  }
}

// tooltips
.tooltip {
  padding:0.5rem;
  border-radius: 3px;
  background-color:$pink;
  border: 1px solid $pink;
  color:#ffffff;
  font-weight: 700;
  -webkit-text-stroke-color: #ffffff;
  position: absolute;
  transition:0.25s;
  pointer-events: none;
  &:after {
    position: absolute;
    content: '';
    pointer-events: none;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $pink;
    bottom:100%;
    left:calc(50% - 10px);
  }
  &.email-tooltip {
    min-width: 80px;
  }
}

.intro-tooltip {
  font-size: 1.2rem;
  box-shadow: 0 10px 20px rgba($text-dark, 0.4), 0 4px 4px rgba($text-dark, 0.2);
  top:-60px;
  left:-25px;
  transform: rotate(-10deg);
  animation: float 2s ease-in-out infinite;
  &:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $pink;
    border-bottom: none;
    bottom: 0;
    top: 100%;
  }
}

.social-tooltip {
  font-size: 0.9rem;
  text-align: center;
  visibility: hidden;
  padding:0.2rem 0.3rem;;
  left:-30%;
  opacity: 0;
  transition:0.25s;
  top: 150%;
  box-shadow: 0 1px 3px rgba($text-dark,0.12), 0 1px 2px rgba($text-dark,0.24);
}


footer {
  text-align: center;
  font-size:0.9rem;
  .social-icons {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

@keyframes float {
	0% {
		transform: translateY(0px) rotate(-10deg);
	}
	50% {
    transform: translateY(-10%) rotate(-10deg);
    box-shadow: 0 10px 20px rgba($text-dark, 0.2);
	}
	100% {
		transform: translateY(0) rotate(-10deg);
	}
}

@keyframes twinkle {
	0%, 100% {
    opacity: 1;
    r: 0.5%;
	}
	50% {
    opacity: 0.5;
    r: 1.7%;
	}
}

@keyframes blobMorph {
  25%, 75% {
    d: path("M441.6,177.2c20.8,62-41,150.3-120.9,159.6-30.5,3.6-101.2-26.9-135.9-17.5-114.9,31-130-38-163.8-106.6C-7,156.1,29.4,93.9,87.7,104.7c53.7,10,55-34.4,95.6-49C264.8,26.5,405,68,441.6,177.2Z")
  }
  50% {
    d: path("M426.2,160.3c-42.9,62.9,95.5,175.3-105.5,176.5-55.2.3-99.9-17.7-135.9-17.5-113.5.6-135.4,31-159.4-73.7C11.3,184,33.5,128.8,87.7,104.7c50.6-22.5,56.4-22.2,97-36.7C266.2,38.7,482.3,78,426.2,160.3Z")
  }
}

@keyframes tada {
  0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
  }

  10%,20% {
      -webkit-transform: scale3d(.9,.9,.9) rotate(-3deg);
      transform: scale3d(.9,.9,.9) rotate(-3deg)
  }

  30%,50%,70%,90% {
      -webkit-transform: scale3d(1.1,1.1,1.1) rotate(3deg);
      transform: scale3d(1.1,1.1,1.1) rotate(3deg)
  }

  40%,60%,80% {
      -webkit-transform: scale3d(1.1,1.1,1.1) rotate(-3deg);
      transform: scale3d(1.1,1.1,1.1) rotate(-3deg)
  }

  to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
  }
}

@media all and (max-width: 1024px) {
  .hero {
    max-width: 100%;
    align-items: center;
    height:100%;
    flex-direction: column;
  }
  .container {
    padding: 2rem;
  }
  section.avatar {
    display: block;
    min-width: auto;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 2rem;

  }
 }

@media all and (max-width: 480px) { 
  .container {
    padding: 1rem;
  }
  section.avatar {
    display: block;
    width: 100%
  }
  section.intro {
    margin-right: 0;
    h2 {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 2.8rem;
      margin-top: 0.5rem;
    }
  }
  .social-icons {
    width: 100%;
  }
  .intro-tooltip {
    padding: 0.3rem;
    top:-50px;
    left:-5px;
  }
}
